body {
	background-image: url(../images/NightSkyBG.webp);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: screen;
}

.gamehead {
	text-align: center;
	color: white;
	padding: 1px;
	margin-top: 20px;
	border-bottom: 2px solid white;
}

.gamerow {
	display: flex;
	justify-content: center;
	overflow-x: scroll;	
	margin-bottom: 20px;
}

.gameshowcase {
	border: 4px double black;
	background-color: white;
	text-align: center;
	padding: 10px;
	margin: 20px;
}

.coversize {
	height: 400px;
}